/* Write your code here: */

/* h1 i h2 trebaju biti color:bluvoilet  na način da se blueviolet jednom definira  */

/* Do these things today!    color:firebrick preko child selectora; */

/* sve list item preko descendent selector color: blue*/

/* zadnje dvije list item preko chainig matode color: seagreen; */

/* other item postaviti font-size:0.5rem preko kombinacije kombinatora multiole combiner*/
h1 , h2 {
    color: blueviolet;
}
.box > p {
    color: firebrick;
}
.box li {
    color: blue;
}
li.done {
    color: seagreen;
}
ul > p.done {
    font-size: 0.5rem;
}
